form {
    display: inline-block;
    position: relative;
    left: 26rem;
}

h1{
    margin-left: 100px;
    position: relative;
    left: 25rem;
    text-decoration-line: underline;
    color: rgb(5, 32, 78);
}

div {
    margin-left: 70px;
    margin-top: 50px;
}

img {
    max-width: 300px;
    max-height: 300px;
    margin: 10px;
}

input {
    height: 19px;
    border-radius: 1%;
    border-color: rgb(9, 145, 218);
}

#removebtn {
    position: relative;
    left: 26rem;
    margin-left: 1px;
    font-size: 10px;
    padding: 5px 15px;
    border: none;
    background-color: rgb(114, 180, 255);
    color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 1.1px 2px rgb(114, 180, 255);
}

#removebtn:hover {
    background-color: rgb(70, 117, 172);
    cursor: pointer;
    box-shadow: 0px 0px 1.1px 2px rgb(70, 117, 172);
}

#removebtn:active {
    transform: scale(1.02);
}


#submitgiphy {
    margin-left: 0px;
    font-size: 10px;
    padding: 5px 15px;
    border: none;
    background-color: rgb(114, 180, 255);
    color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 1.1px 2px rgb(114, 180, 255);
}

#submitgiphy:hover {
    background-color: rgb(70, 117, 172);
    cursor: pointer;
    box-shadow: 0px 0px 1.1px 2px rgb(70, 117, 172);
}

#submitgiphy:active {
    transform: scale(1.02);
}